<!DOCTYPE html>
<html>

  <head>
    <title>Upwaver</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "actiontext", "data-turbo-track"=> "reload" %>\
    <link href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css " rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <%= stylesheet_link_tag "bulma-steps", "data-turbo-track"=> "reload" %>
    

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "trix", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "application" , "data-turbo-track": "reload" , type: "module" %>
      

    <% if content_for?(:head) %>
      <%= yield(:head) %>
   <% end %>
   </head>

   <style>
     button {
       margin-top: 23px;
       color: red !important;
     }
   </style>

  <body>
        <%= render "shared/navbar" %>
    <%= yield %>
      <p class="notice">
        <%= notice %>
      </p>
      <p class="alert">
        <%= alert %>
      </p>
  
  </body>

</html>